yt-dlp
youtube-transcript-api
pytube
openai
openai-whisper
pydub
librosa
opencv-python
pytesseract
numpy
Pillow
pymupdf
flask
flask_session
cs50
transformers
torch
flask-wtf
flask-login
python-dotenv
flask-mail
pytest
requests
flask-socketio
flask-dropzone
python-magic
gunicorn
sentence-transformers
icecream
google-api-python-client
accelerate
sentencepiece
markdown
ollama
flask-mail
itsdangerous
authlib
google-auth
google-auth-oauthlib
google-auth-httplib2
pyttsx3
pyjwt
