.quiz-list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.question-item {
  background-color: #1b1b1b;
  padding: 1rem;
  margin-bottom: 15px;
  border-radius: 8px;
}

.quiz-controls {
  margin-bottom: 20px;
}

/* .container { */
/* max-width: 1200px; Adjust to your desired width */
/* margin: 0 auto;    Centers the container */
/* padding: 20px;     Inner spacing */
/* } */

.quiz-controls,
.quiz-list {
  margin-bottom: 20px;
}

.hint-content,
.answer-content {
  margin-top: 10px;
  color: #f0e68c;
  font-style: italic;
}

.submit-answer-btn {
  background-color: #3c9;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

#quiz_in_progress {
  margin-top: 30px;
}

h1 {
  margin: 20px 0;
  margin-left: 300px;
}

p {
  margin: 10px 0;
}

.hint-btn {
  margin-top: 10px;
}

.completed_questions {
  margin-bottom: 30px;
}

.quiz_in_progress {
  margin-top: 30px;
  margin-bottom: 30px;
  align-self: left;
}
