/* General Styles for h1 */
h1 {
  text-align: center;
  margin: 10px 30px 30px; /* Combine margins for consistency */
  align-self: center;
}

/* Note Styling */
#note {
  font-size: 1.25rem; /* Use rem for scalability */
}

/* Common Styles for Note Details */
#note_transcript,
#note_source_file,
#notes_file_type,
#note_created_at {
  font-size: 0.875rem; /* Use rem for consistency */
  margin-bottom: 0; /* Consolidated margin removal */
}

/* Main Content Styling */
.main-content {
  padding: 5px;
}
