{% extends "layout.html" %}

{% block title %}
Flashcards - MentorMatrix
{% endblock %}

{% block other_head_stuff %}
  <link rel="stylesheet" href="{{ url_for('static', filename='popup.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='flashcards.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="main-content">
      <h1>Flashcards</h1>

      <!-- Display flashcard list -->
      <ul class="flashcard-list">
        {% for flashcard in flashcards %}
          <li class="flashcard-item" onclick="flipCard({{ loop.index }})">
            <div class="flashcard-content" id="flashcard-{{ loop.index }}">
              <div class="flashcard-front" style="display: block;">
                <h2>Q: {{ flashcard.question }}</h2>
              </div>
              <div class="flashcard-back" style="display: none;">
                <h2>A: {{ flashcard.answer }}</h2>
              </div>
            </div>
            <small>Created on: {{ flashcard.created_at }}</small>
          </li>
        {% else %}
          <li>No flashcards were created. Want to make some?</li><!--temp text-->
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Modal for creating a new flashcard -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close-btn" aria-label="Close Modal">&times;</span>
      <h2>Create a New Flashcard</h2>
      <form action="/add_flashcard" method="POST">
        <label for="question">Question:</label>
        <input type="text" id="question" name="question" required>

        <label for="answer">Answer:</label>
        <textarea id="answer" name="answer" required></textarea>

        <button type="submit" class="premium-button">Save Flashcard</button>
      </form>
      <button id="closeModalBtn" class="premium-button">Cancel</button>
    </div>
  </div>
{% endblock %}
